<!-- Small boxes (Stat box) -->
<div class="homeBox" ng-repeat="boxItems in homeObj.boxItems">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box {{boxItems.colour}}" ng-click="open(boxItems.open)">
            <div class="inner">
                <h3></h3>
                <p>{{boxItems.label}}</p>
            </div>
            <div class="icon">
                <i class="ion {{boxItems.icon}}"></i>
            </div>
        </div>
    </div><!-- ./col -->
</div><!-- /.row -->