<div class="col-md-6">
    <div class="box box-primary landingpage">
        <div class="box-header">
            <h3 class="box-title">Personal Details</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <form role="form">

                <input class="form-control" type="text" placeholder="Default input">

                <div class="icon">
                    <i class="ion ion-help-circled" id="example" tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus" data-content="Help for the control"></i>
                </div>
            

                <br>
                <br>

                <button type="submit" class="btn btn-primary" ng-click="open(home)">Submit</button>

            </form>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</div>